a {
    text-decoration: none;
    color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.header-right .btn {
    padding: 0 16px;
}

.header-right .signup {
    display: inline-block;
    color: #FFF;
    background-color: rgb(252, 84, 118);
    border-radius: 5px;
    line-height: 40px;
}

.top-title {
    text-align: center;
    font-weight: bold;
    color: #2b546a;
    font-size: 48px;
    line-height: 1.5;
}

.top-main {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 48px;
    color:#2b546a;
}

.top-signup {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(252, 84, 118);
    border-radius: 5px;
    color: #FFF;
    line-height: 56px;
    padding: 0 32px;
}

.image-pattern {
    width: 100%;
    padding-top: 100px;
}

.image-title {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    background-color: #88e7ce;
}

.work-image {
    width: 100%;
    max-width: 1000px;
}

.image-main {
    padding-top: 96px;
    display: flex;
    justify-content: center;
}

.image-subTitle {
    font-size: 48px;
    text-align: center;
    color: #2b546a;
}

.image-small {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.small-title {
    color: #2b546a;
}

.small-text {
    font-size: 1rem;
    line-height: 2;
    margin-top: 16px;
    color: #8491a5;
}

.image-chousei {
    padding-bottom: 96px;
}