a {
    text-decoration: none;
    color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.header-right .btn {
    padding: 0 16px;
}

.header-right .signup {
    display: inline-block;
    color: #FFF;
    background-color: rgb(252, 84, 118);
    border-radius: 5px;
    line-height: 40px;
}

.top-title {
    text-align: center;
    font-weight: bold;
    color: #2b546a;
    font-size: 48px;
    line-height: 1.5;
}

.top-main {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 48px;
    color:#2b546a;
}

.top-signup {
    display: block;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(252, 84, 118);
    border-radius: 5px;
    color: #FFF;
    line-height: 56px;
    padding: 0 32px;
}